body {
	background-image: url('../Images/image3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.title1 {
	font-weight: bold;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(0, 0, 0);
	font-size: 50px;
	text-align: center;
}

div.buttons {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 40px;
	position: static;
    display: inline;
	width: 100%;
}

h2 {
    display: inline;
}

a {
	text-decoration: none;
	color: initial;
}