body {
	background-image: url(../Images/537069.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.title1 {
	font-weight: bold;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(0, 0, 0);
	font-size: 30px;
	text-align: center;
}

.home {
	display: block;
	width: 100px;
	font-size: 20px;
	margin-bottom: 1rem;
}

.home a {
	text-decoration: none;
	color: #000;
}

.a-checkpoint-list {
	width:400px;margin:0 auto
}

.a-checkpoint-list ul{
  list-style-image: url("../Images/thumb256.png");
  list-style-type: none;
  padding-left: 0px;
  font-size:50px;
}